.elementor-105 .elementor-element.elementor-element-62c72c08:not(.elementor-motion-effects-element-type-background),
.elementor-105 .elementor-element.elementor-element-62c72c08>.elementor-motion-effects-container>.elementor-motion-effects-layer {
	background-color: #231F20;
}

.elementor-105 .elementor-element.elementor-element-62c72c08 {
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
	padding: 0px 15px 10px 15px;
	z-index: 10;
}

.elementor-105 .elementor-element.elementor-element-62c72c08>.elementor-background-overlay {
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-105 .elementor-element.elementor-element-7cfabc7e {
	margin-top: 10px;
	margin-bottom: 10px;
}

.elementor-bc-flex-widget .elementor-105 .elementor-element.elementor-element-1946b3c8.elementor-column .elementor-widget-wrap {
	align-items: center;
}

.elementor-105 .elementor-element.elementor-element-1946b3c8.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
	align-content: center;
	align-items: center;
}

.elementor-105 .elementor-element.elementor-element-1946b3c8>.elementor-element-populated {
	border-style: solid;
	border-width: 0px 0px 0px 0px;
	border-color: #FFFFFF1C;
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-105 .elementor-element.elementor-element-1946b3c8>.elementor-element-populated>.elementor-background-overlay {
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-105 .elementor-element.elementor-element-4d1cb691:not(.elementor-motion-effects-element-type-background),
.elementor-105 .elementor-element.elementor-element-4d1cb691>.elementor-motion-effects-container>.elementor-motion-effects-layer {
	background-color: var(--e-global-color-21bfb04);
}

.elementor-105 .elementor-element.elementor-element-4d1cb691>.elementor-background-overlay {
	opacity: 0.9;
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-105 .elementor-element.elementor-element-4d1cb691,
.elementor-105 .elementor-element.elementor-element-4d1cb691>.elementor-background-overlay {
	border-radius: 5px 5px 5px 5px;
}

.elementor-105 .elementor-element.elementor-element-4d1cb691 {
	box-shadow: 0px 10px 25px -15px rgba(0, 0, 0, 0.5);
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
	padding: 20px 20px 20px 20px;
}

.elementor-bc-flex-widget .elementor-105 .elementor-element.elementor-element-297c0210.elementor-column .elementor-widget-wrap {
	align-items: center;
}

.elementor-105 .elementor-element.elementor-element-297c0210.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
	align-content: center;
	align-items: center;
}

.elementor-105 .elementor-element.elementor-element-297c0210>.elementor-element-populated {
	border-style: solid;
	border-width: 0px 0px 0px 0px;
	border-color: #FFFFFF2B;
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
	padding: 0px 0px 0px 0px;
}

.elementor-105 .elementor-element.elementor-element-297c0210>.elementor-element-populated>.elementor-background-overlay {
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-105 .elementor-element.elementor-element-e0931c0 img {
	width: 79%;
}

.elementor-bc-flex-widget .elementor-105 .elementor-element.elementor-element-4333c6dc.elementor-column .elementor-widget-wrap {
	align-items: center;
}

.elementor-105 .elementor-element.elementor-element-4333c6dc.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
	align-content: center;
	align-items: center;
}

.elementor-105 .elementor-element.elementor-element-4333c6dc>.elementor-element-populated {
	padding: 0px 15px 0px 15px;
}

.elementor-105 .elementor-element.elementor-element-36e0ad98 .elementor-menu-toggle {
	margin-left: auto;
	background-color: #000000;
}

.elementor-105 .elementor-element.elementor-element-36e0ad98 .elementor-nav-menu .elementor-item {
	font-family: var(--e-global-typography-accent-font-family), Sans-serif;
	font-size: var(--e-global-typography-accent-font-size);
	font-weight: var(--e-global-typography-accent-font-weight);
	line-height: var(--e-global-typography-accent-line-height);
}

.elementor-105 .elementor-element.elementor-element-36e0ad98 .elementor-nav-menu--main .elementor-item {
	color: var(--e-global-color-text);
	fill: var(--e-global-color-text);
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.elementor-105 .elementor-element.elementor-element-36e0ad98 .elementor-nav-menu--main .elementor-item:hover,
.elementor-105 .elementor-element.elementor-element-36e0ad98 .elementor-nav-menu--main .elementor-item.elementor-item-active,
.elementor-105 .elementor-element.elementor-element-36e0ad98 .elementor-nav-menu--main .elementor-item.highlighted,
.elementor-105 .elementor-element.elementor-element-36e0ad98 .elementor-nav-menu--main .elementor-item:focus {
	color: #b89961;
	fill: #b89961;
}

.elementor-105 .elementor-element.elementor-element-36e0ad98 .elementor-nav-menu--main .elementor-item.elementor-item-active {
	color: #b89961;
}

.elementor-105 .elementor-element.elementor-element-36e0ad98 {
	--e-nav-menu-horizontal-menu-item-margin: calc(32px / 2);
}

.elementor-105 .elementor-element.elementor-element-36e0ad98 .elementor-nav-menu--main:not(.elementor-nav-menu--layout-horizontal) .elementor-nav-menu>li:not(:last-child) {
	margin-bottom: 32px;
}

.elementor-105 .elementor-element.elementor-element-36e0ad98 .elementor-nav-menu--dropdown a,
.elementor-105 .elementor-element.elementor-element-36e0ad98 .elementor-menu-toggle {
	color: var(--e-global-color-text);
}

.elementor-105 .elementor-element.elementor-element-36e0ad98 .elementor-nav-menu--dropdown a:hover,
.elementor-105 .elementor-element.elementor-element-36e0ad98 .elementor-nav-menu--dropdown a.elementor-item-active,
.elementor-105 .elementor-element.elementor-element-36e0ad98 .elementor-nav-menu--dropdown a.highlighted,
.elementor-105 .elementor-element.elementor-element-36e0ad98 .elementor-menu-toggle:hover {
	color: var(--e-global-color-21bfb04);
}

.elementor-105 .elementor-element.elementor-element-36e0ad98 .elementor-nav-menu--dropdown a:hover,
.elementor-105 .elementor-element.elementor-element-36e0ad98 .elementor-nav-menu--dropdown a.elementor-item-active,
.elementor-105 .elementor-element.elementor-element-36e0ad98 .elementor-nav-menu--dropdown a.highlighted {
	background-color: #b89961;
}

.elementor-105 .elementor-element.elementor-element-36e0ad98 .elementor-nav-menu--dropdown a.elementor-item-active {
	color: var(--e-global-color-21bfb04);
	background-color: var(--e-global-color-fc28385);
}

.elementor-105 .elementor-element.elementor-element-36e0ad98 .elementor-nav-menu--dropdown .elementor-item,
.elementor-105 .elementor-element.elementor-element-36e0ad98 .elementor-nav-menu--dropdown .elementor-sub-item {
	font-family: var(--e-global-typography-accent-font-family), Sans-serif;
	font-size: var(--e-global-typography-accent-font-size);
	font-weight: var(--e-global-typography-accent-font-weight);
}

.elementor-105 .elementor-element.elementor-element-36e0ad98 .elementor-nav-menu--dropdown {
	border-radius: 5px 5px 5px 5px;
}

.elementor-105 .elementor-element.elementor-element-36e0ad98 .elementor-nav-menu--dropdown li:first-child a {
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.elementor-105 .elementor-element.elementor-element-36e0ad98 .elementor-nav-menu--dropdown li:last-child a {
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}

.elementor-105 .elementor-element.elementor-element-36e0ad98 .elementor-nav-menu--dropdown a {
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 15px;
	padding-bottom: 15px;
}

.elementor-105 .elementor-element.elementor-element-36e0ad98 .elementor-nav-menu--dropdown li:not(:last-child) {
	border-style: solid;
	border-color: #87878726;
	border-bottom-width: 1px;
}

.elementor-105 .elementor-element.elementor-element-36e0ad98 .elementor-nav-menu--main>.elementor-nav-menu>li>.elementor-nav-menu--dropdown,
.elementor-105 .elementor-element.elementor-element-36e0ad98 .elementor-nav-menu__container.elementor-nav-menu--dropdown {
	margin-top: 15px !important;
}

.elementor-105 .elementor-element.elementor-element-36e0ad98 div.elementor-menu-toggle {
	color: var(--e-global-color-21bfb04);
}

.elementor-105 .elementor-element.elementor-element-36e0ad98 div.elementor-menu-toggle svg {
	fill: var(--e-global-color-21bfb04);
}

.elementor-105 .elementor-element.elementor-element-36e0ad98 div.elementor-menu-toggle:hover {
	color: var(--e-global-color-21bfb04);
}

.elementor-105 .elementor-element.elementor-element-36e0ad98 div.elementor-menu-toggle:hover svg {
	fill: var(--e-global-color-21bfb04);
}

.elementor-105 .elementor-element.elementor-element-36e0ad98 .elementor-menu-toggle:hover {
	background-color: var(--e-global-color-fc28385);
}

.elementor-bc-flex-widget .elementor-105 .elementor-element.elementor-element-156b6bd4.elementor-column .elementor-widget-wrap {
	align-items: center;
}

.elementor-105 .elementor-element.elementor-element-156b6bd4.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
	align-content: center;
	align-items: center;
}

.elementor-105 .elementor-element.elementor-element-7d4803aa .elementor-button {
	background-color: #b89961;
	border-style: none;
	padding: 13px 22px 13px 22px;
}

@media(max-width:1024px) {
	.elementor-105 .elementor-element.elementor-element-1946b3c8>.elementor-element-populated {
		border-width: 0px 0px 1px 0px;
		padding: 5px 0px 10px 0px;
	}

	.elementor-105 .elementor-element.elementor-element-36e0ad98 .elementor-nav-menu .elementor-item {
		font-size: var(--e-global-typography-accent-font-size);
		line-height: var(--e-global-typography-accent-line-height);
	}

	.elementor-105 .elementor-element.elementor-element-36e0ad98 .elementor-nav-menu--dropdown .elementor-item,
	.elementor-105 .elementor-element.elementor-element-36e0ad98 .elementor-nav-menu--dropdown .elementor-sub-item {
		font-size: var(--e-global-typography-accent-font-size);
	}

	.elementor-105 .elementor-element.elementor-element-36e0ad98 .elementor-nav-menu--main>.elementor-nav-menu>li>.elementor-nav-menu--dropdown,
	.elementor-105 .elementor-element.elementor-element-36e0ad98 .elementor-nav-menu__container.elementor-nav-menu--dropdown {
		margin-top: 20px !important;
	}

	.elementor-105 .elementor-element.elementor-element-36e0ad98 .elementor-menu-toggle {
		border-radius: 5px;
	}
}

@media(max-width:767px) {
	.elementor-105 .elementor-element.elementor-element-297c0210 {
		width: 88%;
	}

	.elementor-105 .elementor-element.elementor-element-297c0210>.elementor-element-populated {
		border-width: 0px 0px 1px 0px;
		margin: 0px 0px 0px 0px;
		--e-column-margin-right: 0px;
		--e-column-margin-left: 0px;
		padding: 0px 0px 0px 0px;
	}

	.elementor-105 .elementor-element.elementor-element-e0931c0 {
		text-align: left;
	}

	.elementor-105 .elementor-element.elementor-element-e0931c0 img {
		width: 83%;
	}

	.elementor-105 .elementor-element.elementor-element-4333c6dc {
		width: 12%;
	}

	.elementor-105 .elementor-element.elementor-element-4333c6dc>.elementor-element-populated {
		padding: 0px 0px 0px 0px;
	}

	.elementor-105 .elementor-element.elementor-element-36e0ad98 .elementor-nav-menu .elementor-item {
		font-size: var(--e-global-typography-accent-font-size);
		line-height: var(--e-global-typography-accent-line-height);
	}

	.elementor-105 .elementor-element.elementor-element-36e0ad98 .elementor-nav-menu--dropdown .elementor-item,
	.elementor-105 .elementor-element.elementor-element-36e0ad98 .elementor-nav-menu--dropdown .elementor-sub-item {
		font-size: var(--e-global-typography-accent-font-size);
	}

	.elementor-105 .elementor-element.elementor-element-36e0ad98 .elementor-nav-menu--dropdown a {
		padding-top: 15px;
		padding-bottom: 15px;
	}

	.elementor-105 .elementor-element.elementor-element-36e0ad98 .elementor-nav-menu--main>.elementor-nav-menu>li>.elementor-nav-menu--dropdown,
	.elementor-105 .elementor-element.elementor-element-36e0ad98 .elementor-nav-menu__container.elementor-nav-menu--dropdown {
		margin-top: 47px !important;
	}

	.elementor-105 .elementor-element.elementor-element-36e0ad98 .elementor-menu-toggle {
		border-radius: 5px;
	}

	.elementor-105 .elementor-element.elementor-element-156b6bd4 {
		width: 100%;
	}

	.elementor-105 .elementor-element.elementor-element-156b6bd4>.elementor-element-populated {
		margin: 25px 0px 0px 0px;
		--e-column-margin-right: 0px;
		--e-column-margin-left: 0px;
	}
}

@media(min-width:768px) {
	.elementor-105 .elementor-element.elementor-element-297c0210 {
		width: 19.799%;
	}

	.elementor-105 .elementor-element.elementor-element-4333c6dc {
		width: 65.533%;
	}

	.elementor-105 .elementor-element.elementor-element-156b6bd4 {
		width: 14%;
	}
}

@media(max-width:1024px) and (min-width:768px) {
	.elementor-105 .elementor-element.elementor-element-1946b3c8 {
		width: 100%;
	}

	.elementor-105 .elementor-element.elementor-element-297c0210 {
		width: 25%;
	}

	.elementor-105 .elementor-element.elementor-element-4333c6dc {
		width: 53%;
	}

	.elementor-105 .elementor-element.elementor-element-156b6bd4 {
		width: 22%;
	}
}