.elementor-156 .elementor-element.elementor-element-8bda03f>.elementor-container {
    min-height: 411px;
}

.elementor-156 .elementor-element.elementor-element-8bda03f:not(.elementor-motion-effects-element-type-background),
.elementor-156 .elementor-element.elementor-element-8bda03f>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #5A544E;
    background-image: url("../../2024/03/businext-img36.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.elementor-156 .elementor-element.elementor-element-8bda03f>.elementor-background-overlay {
    background-color: #111111;
    opacity: 0.5;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-156 .elementor-element.elementor-element-8bda03f {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: -145px;
    margin-bottom: 0px;
    padding: 0px 15px 0px 15px;
}

.elementor-156 .elementor-element.elementor-element-5ff344d2>.elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 100px 0px 0px 0px;
}

.elementor-156 .elementor-element.elementor-element-5ff344d2>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-156 .elementor-element.elementor-element-1cd434aa {
    text-align: center;
}

.elementor-156 .elementor-element.elementor-element-1cd434aa .elementor-heading-title {
    color: var(--e-global-color-21bfb04);
}

.elementor-156 .elementor-element.elementor-element-43edd1c:not(.elementor-motion-effects-element-type-background),
.elementor-156 .elementor-element.elementor-element-43edd1c>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #F8F8F8;
}

.elementor-156 .elementor-element.elementor-element-43edd1c {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 050px 15px 50px 15px;
}

.elementor-156 .elementor-element.elementor-element-43edd1c>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-156 .elementor-element.elementor-element-5e410e03 {
    padding: 0px 0px 0px 0px;
}

.elementor-156 .elementor-element.elementor-element-19559109 .elementskit-section-title-wraper .elementskit-section-title {
    color: #000000;
    margin: 0px 0px 0px 0px;
    font-family: "Inter", Sans-serif;
    font-size: 45px;
    font-weight: 700;
    line-height: 1.1em;
}

.elementor-156 .elementor-element.elementor-element-19559109 .elementskit-section-title-wraper .elementskit-section-title>span {
    color: var(--e-global-color-primary);
}

.elementor-156 .elementor-element.elementor-element-19559109 .elementskit-section-title-wraper .elementskit-section-title:hover>span {
    color: #000000;
}

.elementor-156 .elementor-element.elementor-element-622e1061 .elementskit-section-title-wraper .elementskit-section-title {
    color: #000000;
    margin: 0px 0px 0px 0px;
    font-family: "Inter", Sans-serif;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.1em;
}

.elementor-156 .elementor-element.elementor-element-622e1061 .elementskit-section-title-wraper .elementskit-section-title>span {
    color: #b89961;
}

.elementor-156 .elementor-element.elementor-element-622e1061 .elementskit-section-title-wraper .elementskit-section-title:hover>span {
    color: #000000;
}

.elementor-156 .elementor-element.elementor-element-70c10e32 {
    margin-top: 80px;
    margin-bottom: 0px;
    padding: 0px 15px 0px 15px;
}

.elementor-156 .elementor-element.elementor-element-2a84576c {
    text-align: left;
    color: #000000;
    font-family: "Poppins", Sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5em;
}

.elementor-156 .elementor-element.elementor-element-5f119cef {
    margin-top: 100px;
    margin-bottom: 0px;
}

.elementor-156 .elementor-element.elementor-element-5823fa5d>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 15px;
}

.elementor-156 .elementor-element.elementor-element-5823fa5d:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
.elementor-156 .elementor-element.elementor-element-5823fa5d>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #000000;
}

.elementor-156 .elementor-element.elementor-element-5823fa5d>.elementor-element-populated,
.elementor-156 .elementor-element.elementor-element-5823fa5d>.elementor-element-populated>.elementor-background-overlay,
.elementor-156 .elementor-element.elementor-element-5823fa5d>.elementor-background-slideshow {
    border-radius: 15px 15px 15px 15px;
}

.elementor-156 .elementor-element.elementor-element-5823fa5d>.elementor-element-populated {
    box-shadow: 0px 20px 25px -15px rgba(0, 0, 0, 0.3);
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 0px 20px 0px 20px;
    --e-column-margin-right: 20px;
    --e-column-margin-left: 20px;
    padding: 100px 50px 100px 50px;
}

.elementor-156 .elementor-element.elementor-element-5823fa5d>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-156 .elementor-element.elementor-element-61e09d17 {
    text-align: center;
}

.elementor-156 .elementor-element.elementor-element-61e09d17 .elementor-heading-title {
    color: #b89961;
    font-family: "Inter", Sans-serif;
    font-size: 25px;
    font-weight: 700;
    line-height: 1.1em;
}

.elementor-156 .elementor-element.elementor-element-61e09d17>.elementor-widget-container {
    margin: 0px 0px -5px 0px;
}

.elementor-156 .elementor-element.elementor-element-6f732af5 {
    text-align: left;
    color: #FFFFFF;
    font-family: "Poppins", Sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5em;
}

.elementor-156 .elementor-element.elementor-element-5f0eca4a>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 15px;
}

.elementor-156 .elementor-element.elementor-element-5f0eca4a:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
.elementor-156 .elementor-element.elementor-element-5f0eca4a>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #000000;
}

.elementor-156 .elementor-element.elementor-element-5f0eca4a>.elementor-element-populated,
.elementor-156 .elementor-element.elementor-element-5f0eca4a>.elementor-element-populated>.elementor-background-overlay,
.elementor-156 .elementor-element.elementor-element-5f0eca4a>.elementor-background-slideshow {
    border-radius: 15px 15px 15px 15px;
}

.elementor-156 .elementor-element.elementor-element-5f0eca4a>.elementor-element-populated {
    box-shadow: 0px 20px 25px -15px rgba(0, 0, 0, 0.3);
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 0px 20px 0px 20px;
    --e-column-margin-right: 20px;
    --e-column-margin-left: 20px;
    padding: 100px 50px 100px 50px;
}

.elementor-156 .elementor-element.elementor-element-5f0eca4a>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-156 .elementor-element.elementor-element-7c910e6a {
    text-align: center;
}

.elementor-156 .elementor-element.elementor-element-7c910e6a .elementor-heading-title {
    color: #b89961;
    font-family: "Inter", Sans-serif;
    font-size: 25px;
    font-weight: 700;
    line-height: 1.1em;
}

.elementor-156 .elementor-element.elementor-element-7c910e6a>.elementor-widget-container {
    margin: 0px 0px -5px 0px;
}

.elementor-156 .elementor-element.elementor-element-162f0b6f {
    text-align: left;
    color: #FFFFFF;
    font-family: "Poppins", Sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5em;
}

.elementor-156 .elementor-element.elementor-element-6ea9f612 {
    margin-top: 020px;
    margin-bottom: 20px;
}

.elementor-156 .elementor-element.elementor-element-1d7b46ff>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 15px;
}

.elementor-156 .elementor-element.elementor-element-1d7b46ff:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
.elementor-156 .elementor-element.elementor-element-1d7b46ff>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #000000;
}

.elementor-156 .elementor-element.elementor-element-1d7b46ff>.elementor-element-populated,
.elementor-156 .elementor-element.elementor-element-1d7b46ff>.elementor-element-populated>.elementor-background-overlay,
.elementor-156 .elementor-element.elementor-element-1d7b46ff>.elementor-background-slideshow {
    border-radius: 15px 15px 15px 15px;
}

.elementor-156 .elementor-element.elementor-element-1d7b46ff>.elementor-element-populated {
    box-shadow: 0px 20px 25px -15px rgba(0, 0, 0, 0.3);
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 0px 20px 0px 20px;
    --e-column-margin-right: 20px;
    --e-column-margin-left: 20px;
    padding: 100px 50px 80px 50px;
}

.elementor-156 .elementor-element.elementor-element-1d7b46ff>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-156 .elementor-element.elementor-element-5ac9648d {
    text-align: center;
}

.elementor-156 .elementor-element.elementor-element-5ac9648d .elementor-heading-title {
    color: #FFFFFF;
    font-family: "Inter", Sans-serif;
    font-size: 32px;
    font-weight: 700;
    line-height: 1.1em;
}

.elementor-156 .elementor-element.elementor-element-5ac9648d>.elementor-widget-container {
    margin: 0px 0px -5px 0px;
}

.elementor-156 .elementor-element.elementor-element-39a10e47 {
    text-align: center;
    color: #FFFFFF;
    font-family: "Poppins", Sans-serif;
    font-size: 27px;
    font-weight: 400;
    line-height: 1.5em;
}

.elementor-156 .elementor-element.elementor-element-47607f7 .elementor-button {
    background-color: #b89961;
    border-style: none;
}

.elementor-156 .elementor-element.elementor-element-47607f7>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
}

.elementor-156 .elementor-element.elementor-element-7cae5edf>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 15px;
}

.elementor-156 .elementor-element.elementor-element-7cae5edf:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
.elementor-156 .elementor-element.elementor-element-7cae5edf>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #000000;
}

.elementor-156 .elementor-element.elementor-element-7cae5edf>.elementor-element-populated,
.elementor-156 .elementor-element.elementor-element-7cae5edf>.elementor-element-populated>.elementor-background-overlay,
.elementor-156 .elementor-element.elementor-element-7cae5edf>.elementor-background-slideshow {
    border-radius: 15px 15px 15px 15px;
}

.elementor-156 .elementor-element.elementor-element-7cae5edf>.elementor-element-populated {
    box-shadow: 0px 20px 25px -15px rgba(0, 0, 0, 0.3);
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 0px 20px 0px 20px;
    --e-column-margin-right: 20px;
    --e-column-margin-left: 20px;
    padding: 0100px 50px 080px 50px;
}

.elementor-156 .elementor-element.elementor-element-7cae5edf>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-156 .elementor-element.elementor-element-3adbf24d {
    text-align: center;
}

.elementor-156 .elementor-element.elementor-element-3adbf24d .elementor-heading-title {
    color: #b89961;
    font-family: "Inter", Sans-serif;
    font-size: 32px;
    font-weight: 700;
    line-height: 1.6em;
}

.elementor-156 .elementor-element.elementor-element-3adbf24d>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
}

@media(max-width:1024px) and (min-width:768px) {
    .elementor-156 .elementor-element.elementor-element-4b52635d {
        width: 70%;
    }

    .elementor-156 .elementor-element.elementor-element-21c861ce {
        width: 100%;
    }
}

@media(max-width:1024px) {
    .elementor-156 .elementor-element.elementor-element-8bda03f {
        margin-top: -180px;
        margin-bottom: 0px;
    }

    .elementor-156 .elementor-element.elementor-element-5ff344d2>.elementor-element-populated {
        padding: 180px 0px 0px 0px;
    }

    .elementor-156 .elementor-element.elementor-element-4b52635d>.elementor-element-populated {
        margin: 0px 0px 20px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }

    .elementor-156 .elementor-element.elementor-element-19559109 .elementskit-section-title-wraper .elementskit-section-title {
        margin: 0px 0px 0px 0px;
        font-size: 38px;
    }

    .elementor-156 .elementor-element.elementor-element-622e1061 .elementskit-section-title-wraper .elementskit-section-title {
        margin: 0px 0px 0px 0px;
        font-size: 38px;
    }

    .elementor-156 .elementor-element.elementor-element-61e09d17 .elementor-heading-title {
        font-size: 50px;
    }

    .elementor-156 .elementor-element.elementor-element-7c910e6a .elementor-heading-title {
        font-size: 50px;
    }

    .elementor-156 .elementor-element.elementor-element-5ac9648d .elementor-heading-title {
        font-size: 50px;
    }

    .elementor-156 .elementor-element.elementor-element-3adbf24d .elementor-heading-title {
        font-size: 50px;
    }
}

@media(max-width:767px) {
    .elementor-156 .elementor-element.elementor-element-8bda03f>.elementor-container {
        min-height: 450px;
    }

    .elementor-156 .elementor-element.elementor-element-5ff344d2>.elementor-element-populated {
        padding: 160px 0px 0px 0px;
    }

    .elementor-156 .elementor-element.elementor-element-43edd1c {
        padding: 50px 15px 50px 15px;
    }

    .elementor-156 .elementor-element.elementor-element-19559109 .elementskit-section-title-wraper .elementskit-section-title {
        font-size: 29px;
    }

    .elementor-156 .elementor-element.elementor-element-622e1061 .elementskit-section-title-wraper .elementskit-section-title {
        font-size: 20px;
    }

    .elementor-156 .elementor-element.elementor-element-70c10e32 {
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .elementor-156 .elementor-element.elementor-element-5823fa5d>.elementor-element-populated {
        padding: 50px 05px 20px 05px;
    }

    .elementor-156 .elementor-element.elementor-element-61e09d17 .elementor-heading-title {
        font-size: 20px;
    }

    .elementor-156 .elementor-element.elementor-element-6f732af5 {
        font-size: 16px;
    }

    .elementor-156 .elementor-element.elementor-element-5f0eca4a>.elementor-element-populated {
        margin: 10px 20px 0px 20px;
        --e-column-margin-right: 20px;
        --e-column-margin-left: 20px;
        padding: 50px 05px 20px 05px;
    }

    .elementor-156 .elementor-element.elementor-element-7c910e6a .elementor-heading-title {
        font-size: 20px;
    }

    .elementor-156 .elementor-element.elementor-element-162f0b6f {
        font-size: 16px;
    }

    .elementor-156 .elementor-element.elementor-element-6ea9f612 {
        margin-top: 10px;
        margin-bottom: 0px;
    }

    .elementor-156 .elementor-element.elementor-element-1d7b46ff>.elementor-element-populated {
        margin: 10px 20px 0px 20px;
        --e-column-margin-right: 20px;
        --e-column-margin-left: 20px;
        padding: 50px 05px 20px 05px;
    }

    .elementor-156 .elementor-element.elementor-element-5ac9648d .elementor-heading-title {
        font-size: 24px;
    }

    .elementor-156 .elementor-element.elementor-element-39a10e47 {
        font-size: 16px;
    }

    .elementor-156 .elementor-element.elementor-element-7cae5edf>.elementor-element-populated {
        margin: 20px 20px 0px 20px;
        --e-column-margin-right: 20px;
        --e-column-margin-left: 20px;
        padding: 50px 05px 50px 05px;
    }

    .elementor-156 .elementor-element.elementor-element-3adbf24d .elementor-heading-title {
        font-size: 20px;
    }

    .elementor-156 .elementor-element.elementor-element-3adbf24d>.elementor-widget-container {
        padding: 0px 0px 0px 0px;
    }
}